<div class="jumbotron">
<h1>My Trips</h1>

<p>
	
		<%= link_to "Mardi Gras", "http://www.orbitz.com/", class: "btn btn-primary btn-large" %> 

		<%= link_to "Bobs Bachelor Party", "http://www.Yelp.com/", class: "btn btn-primary btn-large" %> 

		<%= link_to "Golf Trip", "http://www.Yelp.com/", class: "btn btn-primary btn-large" %> 
	</p>


</div>